<form method="post" action="{{ path('app_trick_delete', {'slug': trick.slug}) }}" onsubmit="return confirm('{{ 'delete.confirm'|trans }}');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
	<div class="d-flex justify-content-center m-2">
		<button class="btn btn-danger">{{ 'actions.delete'|trans }}</button>
	</div>

</form>
