{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent
{% endblock %}

{% block body %}

	<main>
		<div class="px-4 py-5 my-5 text-center">
			<h1 class="display-5 fw-bold">Email sent</h1>
			<div class="col-lg-6 mx-auto">
				<p class="lead mb-2">If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.
																				        This link will expire in
					{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>
				<p class="lead mb-4">If you don't receive an email please check your spam folder or
					<a href="{{ path('app_forgot_password_request') }}">try again</a>.</p>
				<div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
					<a href="{{ path('app_home_page') }}" type="button" class="btn btn-primary btn-lg px-4 gap-3">Back to home</a>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
